  .Container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  
  .BackgroundImage {
    width: 100%;
    height: auto;
    z-index: 1; 
  }
  
  .ImageSlider {
    position: absolute;
    top: 3%;
    left:33%;
    width: 55%;
    height: auto;
    z-index: 2; 
  }
  
  @media screen and (max-width: 414px) {
    .ImageSlider {
      display: none; /* Hide the image slider on iPhone XR */
    }
  }

  @media screen and (max-width: 768px) {
    .ImageSlider {
      display: none; /* Hide the image slider on iPad Air*/
    }
  }