.container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.rightForm {
  text-align: center;
  box-sizing: border-box;
  margin-top: 1rem;
}

.loginForm {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 350px;
  max-width: 350px;
}

.form {
  margin-top: 1rem;
}

.logo {
  padding-bottom: 30px;
}

.input {
  width: 90%;
  height: 20px;
  padding: 10px;
  outline: none;
  font-size: 12px;
  background: rgb(250, 250, 250);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5px 0;
  margin-bottom: 7px;
  border-radius: 5px;
}

.submitButton {
  width: 100%;
  height: 35px;
  font-size: 14px;
  line-height: 10px;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  background: rgba(0, 148, 246, 0.697);
  color: #fff;
  margin: 1rem 0;
  margin-bottom: 10px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
  font-size: 12px;
}

.hr {
  flex-grow: 1;
}

.orText {
  display: flex; /* Add display: flex */
  align-items: center;
  font-size: 15px; /* Adjust font size as needed */
  font-weight: bold;
  color: #858585; /* Adjust color as needed */
}


.loginFacebook {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  margin-top: 35px;
  font-size: 14px;
  font-weight: 900;
  color: rgb(60, 60, 129);
  gap: 10px;
}

.forgot a {
  text-decoration: none;
  color: rgb(0, 55, 107);
  font-size: 12px;
  display: inline-block;
}

.createAccount {
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem 0;
  margin-top: 1rem;
}

.createAccount a {
  text-decoration: none;
  color: rgb(0, 149, 246);
  font-weight: 700;
}

.apps {
  margin-top: 1rem;
  font-size: 13px;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content:center;
  gap: 1rem;

}

.buttons img {
  width: 140px;
  height: 45px;
}

.buttons img:last-child {
  width: 130px;
  border-radius: 5px;
}


/* 
@media (max-width: 700px) {
  .phones {
    display: none;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {

} */




